:root
{
  --sitewidth:752px;
  --width:750px;
  --mainheighit:463px;
  --mainwitdh:464px;
  --subwitdh:286px;
  --boder_color:#FF9900;
  --header_font_size:2.0em;
}
#site-box
{
width:var(--sitewidth);
border:1px solid var(--boder_color);
text-align: center;
margin: auto;
font-size: 18px;
}
#header
{
  height: 100px;
  width: :var(--width);
  line-height: 100px;
  border-bottom: 1px solid var(--boder_color);
  font-size: var(--header_font_size);
  background-image: url('img/header.gif');
}
#main
{
  height: var(--mainheighit);
  width:var(--mainwitdh);
    border-right: 1px solid var(--boder_color);
  float:left;
}
#sub
{
  height: var(--mainheighit);
  width:  var(--subwitdh);
  float:right;
}
#footer
{
  clear:both;
  width:var(--width);
  background-color:#FFFF99;
}
