:root
/*変数*/
{
  /*横幅*/
  --width:752px;
  --sitewidth:752px;
  --mainwitdh:464px;
  --subwitdh:286px;
  /*縦幅*/
  --mainheight:463px;
  --title_heder_height:100px;
  --title_header:100px;
  /*枠*/
  --boder_size:1px;
  --boder_color:#4169e1;
  /*背景*/
  --box_color:#000080;

}
#box
{
width:var(--sitewidth);
background:var(--box_color);
border:var(--boder_size)  solid var(--boder_color);
text-align: center;
margin: auto;
}
#title_header
{
  height:	var(--title_header);
  width: var(--width);
  line-height: var(--title_header);
  border-bottom: var(--boder_size) solid var(--boder_color);
}
#main
{
  height: var(--mainheight);
  width:var(--mainwitdh);
    border-right: var(--boder_size)  solid var(--boder_color);
  float:left;
}
#sub
{
  height: var(--mainheight);
  width:  var(--subwitdh);
  float:right;
}
#footer
{
  clear:both;
  background-color:var(--boder_color);
  width:var(--width);
}
